<html>
  <head>
    <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
   <h1>Person: <%= id %></h1>
   <h1>length: <%= id.length %></h1>
   <h3>Query : <%= query %> </h3>
  </body>
</html>